*{
    margin: 0;
    padding: 0;
    background-color: #ECF2FF
}

#pic{
    border-radius: 50%;
    height: 100px;
    margin-top: 60px;
    margin-left: 700px;
    box-shadow: #bfb9fa 0px 0px 10px 2px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-left: 685px;
}
p{
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    padding-left: 580px;
    font-weight:430;
}
.link1{
    background-color: #bfb9fa;
    height: 60px;
    width: 650px;
    margin-top: 15px;
    margin-left: 430px;
    padding-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    transition: transform .2s; /* Animation */
}
.link1:hover{
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.iconlink{
    margin-top: 50px;
    margin-left: 610px;
    display: flex;
}

#icon1{
    height: 50px;
    margin-right: 30px;
    border-radius: 10px;
    transition: transform .2s; /* Animation */
}
#icon1:hover{
    transform: scale(1.03);
}
#icon2{
    height: 50px;
    margin-right: 30px;
    transition: transform .2s; /* Animation */
}
#icon2:hover{
    transform: scale(1.03);
}
#icon3{
    height: 50px;
    border-radius: 10px;
    margin-right: 30px;
    transition: transform .2s; /* Animation */
}
#icon3:hover{
    transform: scale(1.03);
}
#icon4{
    height: 50px;
    border-radius: 10px;

    transition: transform .2s; /* Animation */
}
#icon4:hover{
    transform: scale(1.03);
}